@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Explore curated lists of top restaurants, cafes, pubs, and bars in Bengaluru, based on trends.</p>
